apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cattle-system
resources:
  - ../../../../_base/_helm-releases/rancher.yaml
  - configmap.yaml
components:
  - ../../../../_components/resource-profiles/c.pico
  - ../../../../_components/node-selectors/pi
  - ../../../../_components/ingress-standards/sargeant.co
  - ../../../../_components/helm-release-standards/configmap-values

patches:
  - target:
      kind: HelmRelease
    patch: |-
      - op: replace
        path: /metadata/name
        value: rancher
