apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: database
  labels:
    app.kubernetes.io/sops: enabled
resources:
  - ../../../_base/database/namespace.yaml
  - mariadb
