apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kubescape
  namespace: security
spec:
  interval: 10m
  chart:
    spec:
      chart: kubescape-operator
      version: 1.21.2
      sourceRef:
        kind: HelmRepository
        name: kubescape
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    capabilities:
      relevancy: enable
      nodeScan: enable
      vulnerabilityScan: enable
      configurationScan: enable

    # Resource limits
    operator:
      resources:
        requests:
          cpu: 50m
          memory: 128Mi
        limits:
          cpu: 200m
          memory: 512Mi

    kubescape:
      resources:
        requests:
          cpu: 50m
          memory: 128Mi
        limits:
          cpu: 200m
          memory: 512Mi

    kollector:
      resources:
        requests:
          cpu: 50m
          memory: 128Mi
        limits:
          cpu: 200m
          memory: 512Mi

    storage:
      resources:
        requests:
          cpu: 50m
          memory: 256Mi
        limits:
          cpu: 200m
          memory: 1Gi
