apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-secrets
  namespace: external-secrets
spec:
  interval: 1h
  chart:
    spec:
      chart: external-secrets
      version: "0.11.*"
      sourceRef:
        kind: HelmRepository
        name: external-secrets
        namespace: flux-system
      interval: 1h
  install:
    createNamespace: false
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    installCRDs: true
    image:
      repository: ghcr.io/external-secrets/external-secrets
      tag: v0.11.0
    webhook:
      port: 9443
      image:
        repository: ghcr.io/external-secrets/external-secrets
        tag: v0.11.0
    certController:
      create: true
      image:
        repository: ghcr.io/external-secrets/external-secrets
        tag: v0.11.0
