apiVersion: v1
kind: PersistentVolume
metadata:
  name: atlantis
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-path
  hostPath:
    path: /mnt/data/atlantis
    type: DirectoryOrCreate
