apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: atlantis
  namespace: automation
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: local-path
