---
apiVersion: v1
kind: ConfigMap
metadata:
  name: prowlarr-config
  namespace: media
data:
  config.xml: |
    <Config>
      <BindAddress>*</BindAddress>
      <Port>9696</Port>
      <SslPort>6969</SslPort>
      <EnableSsl>False</EnableSsl>
      <LaunchBrowser>True</LaunchBrowser>
      <ApiKey>1d9813b02d5a4a308c75308eaab41464</ApiKey>
      <AuthenticationMethod>Forms</AuthenticationMethod>
      <AuthenticationRequired>Enabled</AuthenticationRequired>
      <Branch>master</Branch>
      <LogLevel>debug</LogLevel>
      <SslCertPath></SslCertPath>
      <SslCertPassword></SslCertPassword>
      <UrlBase></UrlBase>
      <InstanceName>Prowlarr</InstanceName>
      <UpdateMechanism>Docker</UpdateMechanism>
      <PostgresUser>admin</PostgresUser>
      <PostgresPassword>s78x7jKMiWWNpdd</PostgresPassword>
      <PostgresPort>5432</PostgresPort>
      <PostgresHost>postgres.database.svc.cluster.local</PostgresHost>
      <PostgresMainDb>prowlarr-main</PostgresMainDb>
      <PostgresLogDb>prowlarr-log</PostgresLogDb>
    </Config>
