apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: app-template
  namespace: default
spec:
  interval: 10m
  chart:
    spec:
      chart: app-template
      version: "4.4.0"
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 10m
  values:
    controllers:
      main:
        containers:
          main: {}
    defaultPodOptions:
      nodeSelector: {}
