---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres
  namespace: database
spec:
  instances: 3
  
  postgresql:
    parameters:
      max_connections: "200"
      shared_buffers: "256MB"
      effective_cache_size: "1GB"
      maintenance_work_mem: "64MB"
      checkpoint_completion_target: "0.9"
      wal_buffers: "16MB"
      default_statistics_target: "100"
      random_page_cost: "1.1"
      effective_io_concurrency: "200"
      work_mem: "1310kB"
      huge_pages: "off"
      min_wal_size: "1GB"
      max_wal_size: "4GB"
  
  storage:
    size: 10Gi
    storageClass: local-path
  
  bootstrap:
    initdb:
      database: app
      owner: app
      secret:
        name: postgres-app-user
  
  monitoring:
    enablePodMonitor: true
  
  backup:
    barmanObjectStore:
      destinationPath: s3://postgres-backups/
      endpointURL: http://minio.core.svc.cluster.local:9000
      s3Credentials:
        accessKeyId:
          name: postgres-backup-secret
          key: ACCESS_KEY_ID
        secretAccessKey:
          name: postgres-backup-secret
          key: ACCESS_SECRET_KEY
      wal:
        compression: gzip
        maxParallel: 2
    retentionPolicy: "30d"
