apiVersion: apps/v1
kind: Deployment
metadata:
  name: thanos-query
  namespace: observability
  labels:
    app.kubernetes.io/name: thanos-query
spec:
  replicas: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: thanos-query
  template:
    metadata:
      labels:
        app.kubernetes.io/name: thanos-query
    spec:
      containers:
        - name: thanos-query
          image: quay.io/thanos/thanos:v0.37.2
          args:
            - query
            - --log.level=info
            - --query.replica-label=replica
            - --store=dnssrv+_grpc._tcp.prometheus-operated.observability.svc.cluster.local
            - --store=dnssrv+_grpc._tcp.thanos-store.observability.svc.cluster.local
            - --query.timeout=5m
            - --query.lookback-delta=15m
          ports:
            - name: http
              containerPort: 10902
            - name: grpc
              containerPort: 10901
          resources:
            requests:
              cpu: 10m
              memory: 100Mi
            limits:
              memory: 100Mi
          livenessProbe:
            httpGet:
              path: /-/healthy
              port: 10902
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /-/ready
              port: 10902
            initialDelaySeconds: 10
            periodSeconds: 5
