apiVersion: v1
kind: Service
metadata:
  name: thanos-query
  namespace: observability
  labels:
    app.kubernetes.io/name: thanos-query
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 9090
      targetPort: 10902
    - name: grpc
      port: 10901
      targetPort: 10901
  selector:
    app.kubernetes.io/name: thanos-query
