apiVersion: v1
kind: Service
metadata:
  name: thanos-compactor
  namespace: observability
  labels:
    app.kubernetes.io/name: thanos-compactor
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 10902
      targetPort: 10902
  selector:
    app.kubernetes.io/name: thanos-compactor
