apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: misc
resources:
  - configmap.yaml
  - serviceaccount.yaml
  - ../../../../_base/_helm-releases/headlamp.yaml
  - ingressroute.yaml
  - middleware.enc.yaml
  - middleware-p1-prod-eks.enc.yaml
  - middleware-p1-staging-eks.enc.yaml
  - middleware-pr-nonprod-aks.enc.yaml
  - middleware-oauth2.yaml
  - middleware-oauth2-p1.yaml
  - middleware-errors.yaml
  - headlamp-kubeconfigs.enc.yaml
  - oauth2-proxy.yaml
  - oauth2-proxy-secret.enc.yaml
  - oauth2-proxy-emails.enc.yaml
  - oauth2-proxy-p1.yaml
  - oauth2-proxy-secret-p1.enc.yaml
  - oauth2-proxy-emails-p1.enc.yaml
  - ingressroute-p1.yaml
  - certificate-p1.yaml
  - auth-redirect.yaml
#components:
#  - ../../../../_components/node-selectors/pi
#  - ../../../../_components/ingress-standards/sargeant.co
#  - ../../../../_components/helm-release-standards/configmap-values

patches:
  - target:
      kind: HelmRelease
    patch: |-
      - op: replace
        path: /metadata/name
        value: headlamp
