apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: misc
resources:
  - ../../../../_base/_helm-releases/headlamp.yaml
  - configmap.yaml
  - secret.enc.yaml
  - aws-credentials-secret.enc.yaml
  - serviceaccount.yaml
  - serviceaccount-token.yaml
  # Aggregated kubeconfigs (encrypted). Add new cluster keys to this secret only.
  - headlamp-kubeconfigs.enc.yaml
  - basic-auth.enc.yaml
#components:
#  - ../../../../_components/node-selectors/pi
#  - ../../../../_components/ingress-standards/sargeant.co
#  - ../../../../_components/helm-release-standards/configmap-values

patches:
  - target:
      kind: HelmRelease
    patch: |-
      - op: replace
        path: /metadata/name
        value: headlamp
