apiVersion: v1
kind: Service
metadata:
  name: loki
  namespace: observability
  labels:
    app.kubernetes.io/name: loki
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 3100
      targetPort: 3100
    - name: grpc
      port: 9096
      targetPort: 9096
  selector:
    app.kubernetes.io/name: loki
---
apiVersion: v1
kind: Service
metadata:
  name: loki-gateway
  namespace: observability
  labels:
    app.kubernetes.io/name: loki
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 3100
  selector:
    app.kubernetes.io/name: loki
