apiVersion: v1
kind: Secret
metadata:
    name: slack-bot-token
    namespace: flux-system
stringData:
    address: ENC[AES256_GCM,data:cwthX+t9UPPOv+/3amQWxxV/ZHR9wOzM421vnDYjRAKqN5OUQo3YsFS/6yy0viCUCAPsSAzkWtaN8ASVN0g/tuJ2vpVivCLulcfE3UvIyqGbS+RjzaD/0pOQ7dS38evPydx0J8yl,iv:3H9laZfQiTHS6AjtLhO+VR6fuRL8AaZ6k6RfaImnE7s=,tag:rXn9cK9ylRFtyr36xGpGbw==,type:str]
sops:
    age:
        - recipient: age1yj3wdeleng98w9rv46yh40ettc78r9k4r4wgnx7ja5zxmyt8qe7snjg0a0
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBueE1HY1ZLT20vTmMwQXNs
            b0NuTjlMenpIZkpSYUpLcktaTGdVMlp5K1VVCktFcTV2WEFZUXJJVzJ2dVY5Q21Z
            OU04aWdYOHRDckJzUWpOWmx0RmRRblkKLS0tIEMzRXU0THBNSTkyVG5EeFFpbmpw
            SUxiY0lJNGJidnFTWnF2ZjBJanRXS00KCZZDxFfTU/pTtN9C8g9Cq/Anrv/9mSmM
            2zkENUGGxSV82OqwEb7qnu/8QBHce2K75xsccgXQUINomnEpEk6wAQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-19T19:25:23Z"
    mac: ENC[AES256_GCM,data:HQ2NwKQX1gezhxVKPc1BUkrIFg/hnCejjJFEaYBcvkpBJmOGDvLed1YjfBjvlHEv7lxr1BWAmAKvImyTLfeQ2UqaxbcHxGLewpzrCMSvaZsRAHFyx9yg+8LmZBm2BYMH/O5r3KMQbJt6gTsUN/zWAhEzUS3iuguK3JnjTW8uoBE=,iv:X+ytfNwAkpcsFfw456d64kxOKMJxlice66R+Su2i+hM=,tag:G+ZLuBiVS/5cJkCb5k7DJw==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
---
apiVersion: notification.toolkit.fluxcd.io/v1beta3
kind: Provider
metadata:
    name: slack-success
    namespace: flux-system
spec:
    type: slack
    channel: engineering-info
    secretRef:
        name: slack-bot-token
sops:
    age:
        - recipient: age1yj3wdeleng98w9rv46yh40ettc78r9k4r4wgnx7ja5zxmyt8qe7snjg0a0
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBueE1HY1ZLT20vTmMwQXNs
            b0NuTjlMenpIZkpSYUpLcktaTGdVMlp5K1VVCktFcTV2WEFZUXJJVzJ2dVY5Q21Z
            OU04aWdYOHRDckJzUWpOWmx0RmRRblkKLS0tIEMzRXU0THBNSTkyVG5EeFFpbmpw
            SUxiY0lJNGJidnFTWnF2ZjBJanRXS00KCZZDxFfTU/pTtN9C8g9Cq/Anrv/9mSmM
            2zkENUGGxSV82OqwEb7qnu/8QBHce2K75xsccgXQUINomnEpEk6wAQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-19T19:25:23Z"
    mac: ENC[AES256_GCM,data:HQ2NwKQX1gezhxVKPc1BUkrIFg/hnCejjJFEaYBcvkpBJmOGDvLed1YjfBjvlHEv7lxr1BWAmAKvImyTLfeQ2UqaxbcHxGLewpzrCMSvaZsRAHFyx9yg+8LmZBm2BYMH/O5r3KMQbJt6gTsUN/zWAhEzUS3iuguK3JnjTW8uoBE=,iv:X+ytfNwAkpcsFfw456d64kxOKMJxlice66R+Su2i+hM=,tag:G+ZLuBiVS/5cJkCb5k7DJw==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
---
apiVersion: notification.toolkit.fluxcd.io/v1beta3
kind: Provider
metadata:
    name: slack-errors
    namespace: flux-system
spec:
    type: slack
    channel: engineering-alerts
    secretRef:
        name: slack-bot-token
sops:
    age:
        - recipient: age1yj3wdeleng98w9rv46yh40ettc78r9k4r4wgnx7ja5zxmyt8qe7snjg0a0
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBueE1HY1ZLT20vTmMwQXNs
            b0NuTjlMenpIZkpSYUpLcktaTGdVMlp5K1VVCktFcTV2WEFZUXJJVzJ2dVY5Q21Z
            OU04aWdYOHRDckJzUWpOWmx0RmRRblkKLS0tIEMzRXU0THBNSTkyVG5EeFFpbmpw
            SUxiY0lJNGJidnFTWnF2ZjBJanRXS00KCZZDxFfTU/pTtN9C8g9Cq/Anrv/9mSmM
            2zkENUGGxSV82OqwEb7qnu/8QBHce2K75xsccgXQUINomnEpEk6wAQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-19T19:25:23Z"
    mac: ENC[AES256_GCM,data:HQ2NwKQX1gezhxVKPc1BUkrIFg/hnCejjJFEaYBcvkpBJmOGDvLed1YjfBjvlHEv7lxr1BWAmAKvImyTLfeQ2UqaxbcHxGLewpzrCMSvaZsRAHFyx9yg+8LmZBm2BYMH/O5r3KMQbJt6gTsUN/zWAhEzUS3iuguK3JnjTW8uoBE=,iv:X+ytfNwAkpcsFfw456d64kxOKMJxlice66R+Su2i+hM=,tag:G+ZLuBiVS/5cJkCb5k7DJw==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
---
apiVersion: notification.toolkit.fluxcd.io/v1beta3
kind: Alert
metadata:
    name: success-notifications
    namespace: flux-system
spec:
    providerRef:
        name: slack-success
    eventSeverity: info
    eventSources:
        - kind: Kustomization
          name: '*'
        - kind: HelmRelease
          name: '*'
    inclusionList:
        - ^Reconciliation finished.*
        - ^Health check passed.*
        - ^Helm install succeeded.*
        - ^Helm upgrade succeeded.*
    suspend: false
sops:
    age:
        - recipient: age1yj3wdeleng98w9rv46yh40ettc78r9k4r4wgnx7ja5zxmyt8qe7snjg0a0
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBueE1HY1ZLT20vTmMwQXNs
            b0NuTjlMenpIZkpSYUpLcktaTGdVMlp5K1VVCktFcTV2WEFZUXJJVzJ2dVY5Q21Z
            OU04aWdYOHRDckJzUWpOWmx0RmRRblkKLS0tIEMzRXU0THBNSTkyVG5EeFFpbmpw
            SUxiY0lJNGJidnFTWnF2ZjBJanRXS00KCZZDxFfTU/pTtN9C8g9Cq/Anrv/9mSmM
            2zkENUGGxSV82OqwEb7qnu/8QBHce2K75xsccgXQUINomnEpEk6wAQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-19T19:25:23Z"
    mac: ENC[AES256_GCM,data:HQ2NwKQX1gezhxVKPc1BUkrIFg/hnCejjJFEaYBcvkpBJmOGDvLed1YjfBjvlHEv7lxr1BWAmAKvImyTLfeQ2UqaxbcHxGLewpzrCMSvaZsRAHFyx9yg+8LmZBm2BYMH/O5r3KMQbJt6gTsUN/zWAhEzUS3iuguK3JnjTW8uoBE=,iv:X+ytfNwAkpcsFfw456d64kxOKMJxlice66R+Su2i+hM=,tag:G+ZLuBiVS/5cJkCb5k7DJw==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
---
apiVersion: notification.toolkit.fluxcd.io/v1beta3
kind: Alert
metadata:
    name: error-notifications
    namespace: flux-system
spec:
    providerRef:
        name: slack-errors
    eventSeverity: error
    eventSources:
        - kind: Kustomization
          name: '*'
        - kind: HelmRelease
          name: '*'
    suspend: false
sops:
    age:
        - recipient: age1yj3wdeleng98w9rv46yh40ettc78r9k4r4wgnx7ja5zxmyt8qe7snjg0a0
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBueE1HY1ZLT20vTmMwQXNs
            b0NuTjlMenpIZkpSYUpLcktaTGdVMlp5K1VVCktFcTV2WEFZUXJJVzJ2dVY5Q21Z
            OU04aWdYOHRDckJzUWpOWmx0RmRRblkKLS0tIEMzRXU0THBNSTkyVG5EeFFpbmpw
            SUxiY0lJNGJidnFTWnF2ZjBJanRXS00KCZZDxFfTU/pTtN9C8g9Cq/Anrv/9mSmM
            2zkENUGGxSV82OqwEb7qnu/8QBHce2K75xsccgXQUINomnEpEk6wAQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-19T19:25:23Z"
    mac: ENC[AES256_GCM,data:HQ2NwKQX1gezhxVKPc1BUkrIFg/hnCejjJFEaYBcvkpBJmOGDvLed1YjfBjvlHEv7lxr1BWAmAKvImyTLfeQ2UqaxbcHxGLewpzrCMSvaZsRAHFyx9yg+8LmZBm2BYMH/O5r3KMQbJt6gTsUN/zWAhEzUS3iuguK3JnjTW8uoBE=,iv:X+ytfNwAkpcsFfw456d64kxOKMJxlice66R+Su2i+hM=,tag:G+ZLuBiVS/5cJkCb5k7DJw==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
