apiVersion: v1
kind: Secret
metadata:
    name: slack-bot-token
    namespace: flux-system
stringData:
    address: ENC[AES256_GCM,data:9wx8AdbJd0FkSliNn3e9XYzVvaj6vUkUPpRg2LUOzgHKIb/3EY/oU9KOT8TzahXdG2JnK8DyBLoY,iv:8DLW0hUAj+hS6vwhs5h4tBc4Y0Pn1PZ2ddKCxfmBRhY=,tag:aazd8UTSOkXHTXIssi6MZg==,type:str]
sops:
    age:
        - recipient: age1yj3wdeleng98w9rv46yh40ettc78r9k4r4wgnx7ja5zxmyt8qe7snjg0a0
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBPYUNpckUwZVlUSDBxKzBu
            amV1WURqRTB6anpMUTNsYlpqUUZLeTZuaGdJCmxBRXFaSmdhTHVMdGF1ZnpCdDlP
            WG4rRk5rVU9BeGRIVkxNUEQ5Ry8yNzgKLS0tIFRPMjRQZDNWTHRkU0F0VjBXZVBa
            eERLSytuV0FoVWFrZGIyaEpNNlB0R2cKuIwupqWrOxtF9yiHU97Ka/usY+OOSRTT
            X8VyK30fHyihh4Td8s8YG8XFLJYUnrL1F69IMUpRmo4/omML4FP2wQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-19T19:17:14Z"
    mac: ENC[AES256_GCM,data:qZ0THGHNNUjH1ad/G9K6w/ShNAb/CHVUOVUiGJxEIPJ9ybHiGeHJD34/rAr05uyI+J5Cn5p7HagZXgQaOZimvQN8Q/uXVO8lqTNUN/YgIUe1jk7LReLTkeZLgAdzBUZ0+66kOScKUOI2WXhRHeUOPqWG3VypDKlFQLHNDwezaYg=,iv:tdjZLuRvgWgXWUEU+wvX0rAn7WvikTa5W32duZf4ayQ=,tag:xS0qJxK5HU8cQqMkohmmZA==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
---
apiVersion: notification.toolkit.fluxcd.io/v1beta3
kind: Provider
metadata:
    name: slack-success
    namespace: flux-system
spec:
    type: slack
    channel: engineering-info
    secretRef:
        name: slack-bot-token
sops:
    age:
        - recipient: age1yj3wdeleng98w9rv46yh40ettc78r9k4r4wgnx7ja5zxmyt8qe7snjg0a0
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBPYUNpckUwZVlUSDBxKzBu
            amV1WURqRTB6anpMUTNsYlpqUUZLeTZuaGdJCmxBRXFaSmdhTHVMdGF1ZnpCdDlP
            WG4rRk5rVU9BeGRIVkxNUEQ5Ry8yNzgKLS0tIFRPMjRQZDNWTHRkU0F0VjBXZVBa
            eERLSytuV0FoVWFrZGIyaEpNNlB0R2cKuIwupqWrOxtF9yiHU97Ka/usY+OOSRTT
            X8VyK30fHyihh4Td8s8YG8XFLJYUnrL1F69IMUpRmo4/omML4FP2wQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-19T19:17:14Z"
    mac: ENC[AES256_GCM,data:qZ0THGHNNUjH1ad/G9K6w/ShNAb/CHVUOVUiGJxEIPJ9ybHiGeHJD34/rAr05uyI+J5Cn5p7HagZXgQaOZimvQN8Q/uXVO8lqTNUN/YgIUe1jk7LReLTkeZLgAdzBUZ0+66kOScKUOI2WXhRHeUOPqWG3VypDKlFQLHNDwezaYg=,iv:tdjZLuRvgWgXWUEU+wvX0rAn7WvikTa5W32duZf4ayQ=,tag:xS0qJxK5HU8cQqMkohmmZA==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
---
apiVersion: notification.toolkit.fluxcd.io/v1beta3
kind: Provider
metadata:
    name: slack-errors
    namespace: flux-system
spec:
    type: slack
    channel: engineering-alerts
    secretRef:
        name: slack-bot-token
sops:
    age:
        - recipient: age1yj3wdeleng98w9rv46yh40ettc78r9k4r4wgnx7ja5zxmyt8qe7snjg0a0
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBPYUNpckUwZVlUSDBxKzBu
            amV1WURqRTB6anpMUTNsYlpqUUZLeTZuaGdJCmxBRXFaSmdhTHVMdGF1ZnpCdDlP
            WG4rRk5rVU9BeGRIVkxNUEQ5Ry8yNzgKLS0tIFRPMjRQZDNWTHRkU0F0VjBXZVBa
            eERLSytuV0FoVWFrZGIyaEpNNlB0R2cKuIwupqWrOxtF9yiHU97Ka/usY+OOSRTT
            X8VyK30fHyihh4Td8s8YG8XFLJYUnrL1F69IMUpRmo4/omML4FP2wQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-19T19:17:14Z"
    mac: ENC[AES256_GCM,data:qZ0THGHNNUjH1ad/G9K6w/ShNAb/CHVUOVUiGJxEIPJ9ybHiGeHJD34/rAr05uyI+J5Cn5p7HagZXgQaOZimvQN8Q/uXVO8lqTNUN/YgIUe1jk7LReLTkeZLgAdzBUZ0+66kOScKUOI2WXhRHeUOPqWG3VypDKlFQLHNDwezaYg=,iv:tdjZLuRvgWgXWUEU+wvX0rAn7WvikTa5W32duZf4ayQ=,tag:xS0qJxK5HU8cQqMkohmmZA==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
---
apiVersion: notification.toolkit.fluxcd.io/v1beta3
kind: Alert
metadata:
    name: success-notifications
    namespace: flux-system
spec:
    providerRef:
        name: slack-success
    eventSeverity: info
    eventSources:
        - kind: Kustomization
          name: '*'
        - kind: HelmRelease
          name: '*'
    inclusionList:
        - ^Reconciliation finished.*
        - ^Health check passed.*
        - ^Helm install succeeded.*
        - ^Helm upgrade succeeded.*
    suspend: false
sops:
    age:
        - recipient: age1yj3wdeleng98w9rv46yh40ettc78r9k4r4wgnx7ja5zxmyt8qe7snjg0a0
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBPYUNpckUwZVlUSDBxKzBu
            amV1WURqRTB6anpMUTNsYlpqUUZLeTZuaGdJCmxBRXFaSmdhTHVMdGF1ZnpCdDlP
            WG4rRk5rVU9BeGRIVkxNUEQ5Ry8yNzgKLS0tIFRPMjRQZDNWTHRkU0F0VjBXZVBa
            eERLSytuV0FoVWFrZGIyaEpNNlB0R2cKuIwupqWrOxtF9yiHU97Ka/usY+OOSRTT
            X8VyK30fHyihh4Td8s8YG8XFLJYUnrL1F69IMUpRmo4/omML4FP2wQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-19T19:17:14Z"
    mac: ENC[AES256_GCM,data:qZ0THGHNNUjH1ad/G9K6w/ShNAb/CHVUOVUiGJxEIPJ9ybHiGeHJD34/rAr05uyI+J5Cn5p7HagZXgQaOZimvQN8Q/uXVO8lqTNUN/YgIUe1jk7LReLTkeZLgAdzBUZ0+66kOScKUOI2WXhRHeUOPqWG3VypDKlFQLHNDwezaYg=,iv:tdjZLuRvgWgXWUEU+wvX0rAn7WvikTa5W32duZf4ayQ=,tag:xS0qJxK5HU8cQqMkohmmZA==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
---
apiVersion: notification.toolkit.fluxcd.io/v1beta3
kind: Alert
metadata:
    name: error-notifications
    namespace: flux-system
spec:
    providerRef:
        name: slack-errors
    eventSeverity: error
    eventSources:
        - kind: Kustomization
          name: '*'
        - kind: HelmRelease
          name: '*'
    suspend: false
sops:
    age:
        - recipient: age1yj3wdeleng98w9rv46yh40ettc78r9k4r4wgnx7ja5zxmyt8qe7snjg0a0
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBPYUNpckUwZVlUSDBxKzBu
            amV1WURqRTB6anpMUTNsYlpqUUZLeTZuaGdJCmxBRXFaSmdhTHVMdGF1ZnpCdDlP
            WG4rRk5rVU9BeGRIVkxNUEQ5Ry8yNzgKLS0tIFRPMjRQZDNWTHRkU0F0VjBXZVBa
            eERLSytuV0FoVWFrZGIyaEpNNlB0R2cKuIwupqWrOxtF9yiHU97Ka/usY+OOSRTT
            X8VyK30fHyihh4Td8s8YG8XFLJYUnrL1F69IMUpRmo4/omML4FP2wQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-19T19:17:14Z"
    mac: ENC[AES256_GCM,data:qZ0THGHNNUjH1ad/G9K6w/ShNAb/CHVUOVUiGJxEIPJ9ybHiGeHJD34/rAr05uyI+J5Cn5p7HagZXgQaOZimvQN8Q/uXVO8lqTNUN/YgIUe1jk7LReLTkeZLgAdzBUZ0+66kOScKUOI2WXhRHeUOPqWG3VypDKlFQLHNDwezaYg=,iv:tdjZLuRvgWgXWUEU+wvX0rAn7WvikTa5W32duZf4ayQ=,tag:xS0qJxK5HU8cQqMkohmmZA==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
